<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="formulario.Properties.Settings.worldConnectionString"
            connectionString="server=localhost;user id=root;password=root;persistsecurityinfo=True;database=world"
            providerName="MySql.Data.MySqlClient" />
        <add name="formulario.Properties.Settings.bancoConnectionString"
            connectionString="server=localhost;user id=ulises;password=Solosoyyo12;persistsecurityinfo=True;database=banco"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>